body{
  background: rgb(212, 206, 206);
  padding: 20px;
}
header, footer{
  background: darkgray;
  text-align:center;
}

p{
  font-family: 'Itim', cursive;
  font-size:25px;
}
h1,h2,h3{
  font-family: 'Josefin Sans', sans-serif;
}

.left-column{
  float:left;
  width:74%;
}
.my-photo{
  width:100%;
}
.gif{
  width: 100%;
}
.card{
  border: 5px solid darkgray;
}
.right-column{
  float:right;
  width:24%;
}

.box-1{
  display:grid;
  height: 220px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.box-2{
  display:flex;
  width:100%;
  justify-content: space-around;
}
.ping{
  width:33.33%;
  align-items: center;
}
.box-item{
  margin: 10px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
}
.box-image{
  margin: 10px;
  text-align: center;
}
.box-image:hover{
  transform: scale(1.5);
}
.ping:hover{
  transform: scale(1.5);
}
.row:after {
  content: "";
  display: block;
  clear: both;
}


@media screen and (max-width: 1100px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}