body{
  background: rgb(159, 170, 177);
}
.heading{
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: rgb(221, 221, 221);
}
.heading-item{
  height:55px;
  width:400px;
  text-align: center;
  align-self: flex-start;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

.para{
  width: 1360px;
}

.meet{
  height:40px;
  width:200px;
  display: flex;
  text-align: left;
  align-self: center;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}


#my-photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transition: all 200ms ease-in-out 0.5s;
  border:5px solid rgb(101, 107, 110);
}

#my-photo:hover{
  transform: scale(1.2);
}

.heading-item:hover{
  transform: scale(1.5);
}

.ping:hover{
  transform: scale(1.5);
}

p{
  font-size: 25px;
}


