@import '../resets';
@import '../blog';
@import '../fonts';

.head-flex{
  background: #e8590c;
}
.hom::after, .art::after, .pro::after, .mode::after{
  background: #ff922b;
  cursor: pointer;
}
.hom-text, .art-text, .pro-text, .mode-text{
  color: white;
  cursor: pointer;
}
.art-text{
  left: 38%;
}
.pro-text{
  left: 65%;
}
main{
  border: 6px solid #e8590c;
  h1{
    font-size: map-get($font-size, headers);
  }
  h2{
    font-size: map-get($font-size, captions);
  }
  h3{
    font-size: map-get($font-size, regular);
  }
  h4{
    font-size: map-get($font-size, regular);
    font-family: map-get($font-family, type-1 );
  }
  p{
    font-size: map-get($font-size, regular);
    i{
      color: silver;
    }
  }
  .forHeaders{
    width: 100%; 
    position: relative;
    background: #ffd8a8;
    border-radius: 1rem;
    padding: 0 0 0 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom:0;
      width: 5px;
      background: #e8590c;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
    &:hover::after{
      content: '🔗';
      font-size: 30px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }

  }
  .logo{
    height: 200px;
  }
  .syntax{
   height: 300px;
   border-radius: 2rem;
   display: inline-block;
  }
  img{
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px #343a40;
  }
  .forCodes{
    width: 100%; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    h4{
    font-family: monospace;
    font-weight: lighter;
    }
    position: relative;
    background: #ffe8cc;
    border-radius: 1rem;
    padding: 0 0 0 20px;
    overflow-x: scroll;
    white-space: nowrap;
    i{
      color:#ff922b; 
    }
  }
  section{
    li{
      margin-left: 2rem;
      font-family: map-get($font-family, type-1);
      text-decoration: underline;
      margin-bottom: 1rem;
      font-size: map-get($font-size, captions);
      color: #ff922b;
      font-weight: bold;
      cursor: pointer;
    }
  }
}